body {
	margin: 0;
	position: relative;
	font-family: "Segoe UI", Arial, sans-serif;
}

.intern .el-button:hover,
.intern .el-button:focus,
.intern .el-button:active {
	border: 2px solid #409eff;
	background-color: #409eff;
	color: #f3ffff;
}

#__nuxt {
	position: relative;
}

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
