body {
	margin: 0;
	font-family: "Segoe UI", Arial, sans-serif;
	background-color: #ffffff;
	min-width: 320px;
	height: 100%;
}

.intern .el-button:hover,
.intern .el-button:focus,
.intern .el-button:active {
	border: 2px solid #409eff;
	background-color: #409eff;
	color: #f3ffff;
}

.el-dialog__body {
	padding-top: 30px;
	padding-bottom: 30px;
}
