@import "tailwindcss";

@theme {
	--breakpoint-sm: 640px;
}

/* добавление своих переиспользуемых классов */
@layer components {
	.my-custom-style {
		background-color: blueviolet;
	}
}

/* добавление своих собственных базовых стилей по умолчанию  */
@layer base {
	*,
	*::before,
	*::after {
		padding: 0;
	}
}
